@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


:root {
    --primary-accent: #d9d9d9;
    --secondaryaccent:#3164F4;
    --neutral-dar-gray:  #808080;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-accent);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

header {
    padding: 1rem 0;
}

header  li {
    margin-left: 1rem;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

section {
    padding: 2.5rem 0;
}

p {
    margin: 0.5rem 0;
}


.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.main__nav, .nav__list, .navigation, .nav__btns {
    display: flex;
    align-items: center;
}

.navbar__item{
    display: none;
}

.navbar__signup__btn {
    background-color: var(--secondaryaccent);
    color: #fff;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
}

.navigation {
    justify-content: space-between;
}

.current {
    color: var(--secondaryaccent);
}

.burger div {
    background-color: black;
    display: block;
    padding: 0.1rem 0;
    margin: 0.2rem 0;
    width: 35px;
    border-radius: 9px;
}

.hero__text, 
.intro__text,
.costsaver__text, .contact__description{
    margin: 1rem 0;
    order: 2;
}

.hero__text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem
}

.hero__text p {
    margin-bottom:0.8rem ;
}

.hero__text p:nth-child(1) {
    color: var(--neutral-dar-gray);
}

.hero__text div {
    margin-top: 0.2rem;
}

.hero, 
.intro, 
.smart__container,
.cost__container,
.start, 
.join__container,
.opinions, .work__invitation{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro,
.join__container {
    box-shadow: 2px 8px 1px #cccccc;
}


.try__free__btn, 
.signup__btn {
    text-align: center;
    background-color: #3164F4;
    color: white;
}

.try__now__btn, 
.how__it__works__btn,
.try__free__btn, 
.signup__btn {
    border-radius: 6px;
    padding: 0.4rem 0.6rem;
    margin-top: 0.3rem;
    max-width: 100%;
    text-align: center;
    font-weight: 600;
}

.how__it__works__btn{
    padding: 0.3rem;
}

.try__now__btn, 
.how__it__works__btn{
    border:2px solid;
    color: black;
}

.companies__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.companies {
    text-align: center;
}

.company__list__item {
    flex: 1 1 130px;
}
.companies ion-icon {
    font-size: 4rem;
}


.intro, .start {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
}

.join__container, .opinions div  {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
}

.join__container h3, .faq h3 {
    margin-top: 1rem;
}

.testimonials {
    text-align: center;
}

.opinion ion-icon {
    font-size: 1.4rem;
    color: #3164F4;
}

.opinions div {
    padding: 2rem;
    margin-top: 1rem;
}


.steps {
    margin-top: 1rem;
}

.step + .step {
    border-top: 1px solid ;
}


footer {
    border-top: 1px solid #cfcdcd;
    padding: 2.5rem 0;
}

.footer__container div {
    margin-top: 1rem;
}

/* STYLING PRICING PAGE  */

.princing__tab > ul{
    padding: 0;
  }
  
.trigger{
    list-style-type: none;
    padding: 10px;
    background: #f2f2f2;
    margin: 4px;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
  }

.tabs .trigger.active{
    background: #ff6565;
    color: white;
}

.content{
    display: none;
}

.content.active{
    display: block;
}

.card {
    background-color: #fff;
    padding: 3rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
}

.tab__cards span {
    font-size: 2.8rem;
}

.card .card__btn {
    margin-top: 1rem;
}

.card__btn {
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.card__btn:hover {
    background-color: #3164F4;
    color: #fff;
    font-weight: 600;
}

.pricing__tab ul {
    display: flex;
    justify-content: center;
}

.trigger + .trigger {
    margin-left: 0.8rem;
}

.features ul {
    margin-top: 1rem;
}

.features li {
    margin-bottom: 0.6rem;
}

.pricing__description, 
.faq h3,
.faq .ilustration {
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
}

.faq h3 {
    margin-bottom: 1rem;
}

.questions li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.questions + .questions {
    margin-top: 1.5rem;
    border-top: 1px solid;
}

.answer {
    display: none;
}


/* STYLING ABOUT US PAGE  */
.about__us div {
    text-align: center;
}

.about__us .ilustration, .work__invitation .ilustration {
    margin: 1.5rem 0;
}

.work__invitation .ilustration {
    max-width: 65%;
}

.work__invitation h1 {
    text-align: center;
}

.mission__description {
    border-bottom: 2px solid var(--neutral-dar-gray);
}

.team {
    text-align: center;
}

.people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.people div {
    padding: 1rem;
}

.people p {
    font-size: 0.7rem;
}

.people img {
    border-radius: 50px;
}

/* STYLING CONCTACT PAGE  */

.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__description {
    text-align: center;
}

label {
    display: block;
    margin: 1rem 0;
}

input, textarea, .send__message__btn{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
}

.send__message__btn {
    margin-top: 1rem;
    background-color: #3164F4;
    color: #fff;
}

@media (max-width: 610px) {
    .try__now__btn, 
    .how__it__works__btn,
    .try__free__btn, 
    .signup__btn,
    .card__btn {
        width: 100%;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer__container div{
        flex-basis: 250px;
    }
}


@media (min-width: 610px) {

    .hero__text {
        text-align: center;
    }

    .hero__text h1 {
        font-size: 4rem;
    }

    .hero .ilustration {
        order: 2;
    }

    .company__list__item {
        flex: 1 1 205px;
    }

    .intro, 
    .start,
    .smart__container,
    .cost__container,
    .join__container,
    .opinions, .contact__container, .work__invitation{
        flex-direction: row;
        justify-content: space-between;
    }

    .contact__container {
        align-items: center;
    }

    .smarttest__description,
    .costsaver__text {
        max-width: 50%;
    }

    .work__invitation h1 {
        font-size: 1.5rem;
        text-align: left;
        max-width: 30%;
    }

    .join__description, form {
        max-width: 45%;
    }

    .steps {
        max-width: 50%;
    }

    .opinion + .opinion {
        margin-left: 1rem;
    }

    .intro .ilustration,
    .start .ilustration, 
    .cost__container .ilustration{
        order: 2;
    } 

    .intro .ilustration,
    .start .ilustration,
    .contact__container .ilustration,
    .work__invitation .ilustration{
       max-width: 45%;
    }

    .about__us div {
        padding: 0 2.5rem;
        text-align: center;
    }

    .people {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
    }

    /* STYLING PRICING */

    .tab__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card:nth-child(2) {
        box-shadow: 0px 0px 4px inset var(--neutral-dar-gray);
    }

    .card:nth-child(3) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .content{
        display: block;
    }

    #pro a {
        margin-top: 2rem;
    }

    #basic,
    #business {
        margin: 2rem 0;
    }

    .features__description {
        display: flex;
        justify-content: space-between;
   }

    .faq {
        max-width: 60%;
        margin: auto;
    }

}

@media (min-width: 900px) {
    
    .hero {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__text {
        text-align: left;
        max-width: 46%;
    }

    .hero .ilustration {
        max-width: 50%;
    }

    .hero__text h1 {
        font-size: 2.5rem;
    }

    .navbar__item{
        display: block;
    }

    .burger {
        display: none;
    }

    .company__list__item {
        flex: 1 1 100px;
    }

    .about__us div {
        padding: 0 5rem;
        text-align: center;
    }

}




