@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --primary-accent: #d9d9d9;
    --secondaryaccent:#3164F4;
    --neutral-dar-gray:  #808080;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-accent);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

header {
    padding: 1rem 0;
}

header  li {
    margin-left: 1rem;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.main__nav, .nav__list, .navigation, .nav__btns {
    display: flex;
    align-items: center;
}

.navbar__item{
    display: none;
}

.navbar__signup__btn {
    background-color: var(--secondaryaccent);
    color: #fff;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
}

.navigation {
    justify-content: space-between;
}

.current {
    color: var(--secondaryaccent);
}

.burger div {
    background-color: black;
    display: block;
    padding: 0.1rem 0;
    margin: 0.2rem 0;
    width: 35px;
    border-radius: 9px;
}


img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

section {
    padding: 2rem 0;
}


.hero__text {
    margin-bottom: 1rem;
}

.hero__text h1 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.hero__text p:nth-child(1) {
    color: var(--neutral-dar-gray);
}

.hero__text div {
    margin-top: 0.2rem;
}

.try__free__btn, 
.signup__btn {
    text-align: center;
    background-color: #3164F4;
    color: white;
}

.try__now__btn, 
.how__it__works__btn,
.try__free__btn, 
.signup__btn {
    border-radius: 6px;
    padding: 0.4rem 0.6rem;
    margin-top: 0.3rem;
    max-width: 100%;
    text-align: center;
    font-weight: 600;
}

.how__it__works__btn{
    padding: 0.3rem;
}

.try__now__btn, 
.how__it__works__btn{
    border:2px solid #808080;
    color: black;
}

.companies {
    text-align: center;
}

.companies__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.company__list__item {
    flex: 0 0 150px;
}

.company__list__item ion-icon {
    font-size: 4rem;
}

.hero,
.intro, 
.join__container, 
.smart__container, 
.cost__container,
.start,
.opinions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.description {
    order: 2;
}

.intro__description, 
.hero__description,
.start__description,
.ilustration {
    flex: 1;
}

.intro, .join__container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
}

.step {
    padding: 1rem 0;
}

.step h1 {
    margin-bottom: 0.3rem;
}

.step:nth-child(1),
.step:nth-child(2) {
    border-bottom: 2px solid;
}

.testimonials {
    text-align: center;
}

.opinions div{
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 2rem 0.5rem;
}

.start {
    background-color: #fff;
    padding: 3rem 1.5rem;
    border-radius: 20px ;
}

footer {
    border-top: 2px solid gray;
    padding: 2rem 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




@media (min-width: 600px) {
    .intro, 
    .join__container, 
    .smart__container, 
    .cost__container,
    .start, 
    .opinions{
        flex-direction: row;
    }

    .description {
        max-width: 40%;
    }

    .hero__text{
        text-align: center;
    }

    .ilustration{
        order: 2;
        max-width: 50%;
    }

    .step {
        padding: 1rem 0;
    }
}

@media (min-width: 800px) {

    .navbar__item {
        display: block;
    }
    .burger {
        display: none;
    }

}

@media (min-width: 960px) {

    .hero {
        flex-direction: row;
    }

    .hero__text{
        text-align: left;
    }

    .navbar__item {
        display: block;
    }

    .burger {
        display: none;
    }

}


